﻿@model CalorieCalculator.Models.Training

@{
    ViewBag.Title = "Calculator";
}

<h2>Számold ki mennyi kalóriát égetsz</h2>

@if (TempData.ContainsKey("myWarning"))
{
    <p style="font-weight:bold;color:red">@TempData["myWarning"]</p>
}

<form method="post" action="CaloriesCalculator/Calculator">

    @Html.LabelFor(e => e.Name)
    <input type="text" name="Name" />

    <br>

    @Html.LabelFor(e => e.Weight)
    <input type="number" name="Weight" />

    <br>

    @Html.LabelFor(e => e.Practice)
    <select id="exercieses" name="Practice">
        <option value="Running">Running</option>
        <option value="Yoga">Yoga</option>
        <option value="Pilates">Pilates</option>
        <option value="Hiking">Hiking</option>
        <option value="Swimming">Swimming</option>
        <option value="Bicycle">Bicycle</option>
    </select>

    <br>

    @Html.LabelFor(e => e.Minutes)
    <input type="number" name="Minutes" />

    <br>
    <input type="submit" value="Kiszámol" class="btn btn-success" />

</form>

